.container {
  width: 100vw;
  min-height: calc(var(--vh) * 100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.innerContainer {
  width: 100%;
  max-width: var(--clicker-max-width);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: var(--app-padding-vertical)  var(--app-padding-horizontal);
}

.topContainer {
  padding-bottom: 0;
}

.bottomContainer {
  padding-top: 0;
}

.title {
  margin: 0 auto 16px;
  text-align: center;
  max-width: 345px;

  h2 {
    color: #389739;
  }
}
