.results {
  color: rgba(56, 151, 57, .4);
  
}

.resultsAndSwitch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

