.container {
  width: 100%;
  max-width: calc(50% - 5px);
  height: 210px;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #49AC2E;
  background-color: var(--card-regular);
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

.imageContainer {
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.name {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
