.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.loaderContainer {
  min-height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.noLeaders {
  text-align: center;
  margin-top: 40px;
}
