.block {
  width: 100%;
  height: var(--base-block-height);
  border-radius: 16px;
  background: var(--card-regular);
  backdrop-filter: blur(10px);
}

.content {
  width: 100%;
  height: 100%;
  padding: 12px;
  position: relative;
  z-index: 22;
}

.blockWithBorder {
  border: 2px solid transparent;
}

.primaryBorder {
  border-color: var(--accent-primary);
}

.secondaryBorder {
  border-width: 3px;
  border-color: var(--accent-secondary);
}

.additionalBorder {
  border-width: 3px;
  border-color: var(--accent-additional);
}

.blackBorder {
  border-color: var(--text-primary);
}
