.container {
  width: 100%;
  height: 48px;
  margin-bottom: 8px;
}

.menuButton {
  border: none;
  outline: none;
  background-color: transparent;
  gap: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
